$screen_lg: 1280px;
$screen_md: 768px;
$screen_sm: 375px;

// Media query mixins
@mixin screen-lg-and-up {
  @media only screen and (min-width: #{$screen_lg}) {
    @content;
  }
}

@mixin screen-lg-and-down {
  @media only screen and (max-width: #{$screen_lg}) {
    @content;
  }
}

@mixin screen-md-and-up {
  @media only screen and (min-width: #{$screen_md}) {
    @content;
  }
}

@mixin screen-md-and-down {
  @media only screen and (max-width: #{$screen_md}) {
    @content;
  }
}

@mixin screen-sm-and-up {
  @media only screen and (min-width: #{$screen_sm}) {
    @content;
  }
}

@mixin screen-sm-and-down {
  @media only screen and (max-width: #{$screen_sm}) {
    @content;
  }
}